@charset "utf-8";
/* CSS Document */


body,html{
	height:100%;
}

*{
	margin:0;
	padding:0;
}

#alls{
	width: 100%;
	height: 100%;
}

#max{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	background: #77fffe;
	z-index: 100;
}

@keyframes LoadAn {
	from{transform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}

@media screen and (max-width: 1920px){
	#MAIN{
		position: relative;
		height: 100%;
	}
	#Second{
		width: 100%;
		height: 0%;
	}
	#three{
		width: 100%;
		height: 0%;
	}
	#max_img{
		position: absolute;
		width: 5%;
		height: 10%;
		left: 45.5%;
		top: 40%;
		animation: LoadAn 3s;
		animation-iteration-count: infinite;
	}
	#max p{
		color: white;
		position: absolute;
		left: 46.5%;
		top: 51%;
	}
}
@media screen and (max-width: 1080px ){
	#MAIN{
		position: relative;
		height:40%;
	}
	#Second{
		width: 100%;
		height:50%;
		background: #ffffd3;
	}
	#three{
		width: 100%;
		height: 10%;
		background: #d5fff0;
	}
	#max_img{
		position: absolute;
		width: 10%;
		height: 8%;
		left: 45.5%;
		top: 40%;
		animation: LoadAn 3s;
		animation-iteration-count: infinite;
	}
	#max p{
		color: white;
		position: absolute;
		left: 41%;
		top: 50%;
	}
}

#bannar {
	position: relative;
	width: 100%;
	height: 100%;
}
#bannar div:first-child {
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#bannar div:first-child img{
	width: 100%;
	height: 100%;
}
#bannar div:nth-child(n+2){
	position: absolute;
	top: 0%;
	width: 20%;
	height: 100%;
	overflow: hidden;
}
#bannar div:nth-child(n+2) img{
	position: relative;
	width:500%;
	height:100%;
}

.Nav{
	position: absolute;
	top:5%;
	width: 100%;
	height: 10%;
}

.Navs{
	position: absolute;
	display:inline-block;
	width: 10%;
	height: 100%;
}
.Navs:nth-child(1){
	left:5%;
}
.Navs:nth-child(2) {
	position: relative;
	bottom: 15%;
	left: 48%;
}
.Navs:nth-child(3) {
	right:5%;
}
.Navs:nth-child(3) img {
	position:relative;
	left:45%;
}
.Navs img{
	margin-left: 10%;
	width:15.5%;
	height: 30.5%;
}
.Navs:nth-child(2) img:first-child {
	width: 25%;
	height: 50%;
}
.Navs:nth-child(2) img:last-child {
	display: block;
	width:80%;
	height:20%;
	position: relative;
	right: 30%;
}

.pro_bar{
	width: 60%;
	height: 0.5%;
	position: absolute;
	bottom: 8%;
	left: 20%;
	overflow: hidden;
}
.pro_bar div{
	border-radius: 50px;
	position: absolute;
}
.pro_bar div:first-child{
	width: 25%;
	height: 100%;
	background: #FFFFFF;
	z-index: 1;
	left: 0%;
}
.pro_bar div:last-child {
	width: 100%;
	height:100%;
	background:#9D9D9D;
}

#h{
	position: absolute;
	top:24%;
	left:35%;
	width:30%;
	height:25%;
	border-style: solid;
  	border-color: white;
	opacity: 0;
	transform: rotate(-45deg);
	transform-origin: left top;
}
#h p {
	position: relative;
	color: #FFFFFF;
	opacity: 0;
	
}
#h p:first-child{
	font-size: 6vw;
	line-height: 100%;
	left: 100%;
	padding-left: 10%;

}
#h p:last-child{
	font-size: 2vw;
	left: -80%;
	line-height: 200%;
	padding-left: 25%;
	
}

#h1{
	width: 20%;
	height: 10%;
	position: absolute;
	top:35%;
	right: 0%;
	opacity: 0;
	overflow: hidden;
}
#h1 div{
	border-radius: 50px;
	position: relative;
	width: 100%;
	height: 100%;
	left: 100%;
	background-color:rgba(146,146,146,0.65);
}
#h1 img{
	position:absolute;
	top:30%;
	left:-20%;
	width: 10%;
}
#h1 p {
	color:white;
	position: relative;
	left: 45%;
	bottom:200%
}
#h1 p:nth-child(3){
	font-size: 0.5vw;
	left:70%;
}
#h1 p:last-child{
	left: 55%;
	font-size: 2vw;
}

#h2 {
	width:50%;
	height:80%;
	position: absolute;
	left: 30%;
	top:15%;
	opacity: 0;
 }
#h2 p {
	position: relative;
	color: white;
	top:-20%;
	opacity: 0;
}
#h2 p:nth-child(2n+1){
	font-size: 8vw;
	font-weight: bold;
}
#h2 p:first-child{
	left:5%;
}
#h2 p:nth-child(3){
	width:10%;
	left: 20%;
}
#h2 p:nth-child(2){
	width:5%;
	font-size: 3vw;
	left:36%;
}
#h2 p:last-child{
	width:10%;
	height:13%;
	background: url(img/strat.png);
	background-size: 100% 100%;
	left:35%;
}

#h3{
	position: absolute;
	width:5%;
	height: 40%;
	right:10%;
	top:0%;
	opacity: 0;
}
#h3 div:nth-child(1){
	position: relative;
	left: 45%;
	height: 20%;
	width: 5%;
	background: #FFFFFF;
	opacity: 0;
}
#h3 div:last-child{
	background:#A3FFF6;
	width:100%;
	height:80%;
	border-radius: 25px;
	opacity: 0;
}